doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width initial-scale= 1.0")
    link(rel="stylesheet", href="main.css", attr)
    title style transfer \ samuelchristopher
  body
    h1 style transfer \ 
      a(href="https://github.com/samuelchristopher") samuelchristopher
    .content
      .content-source
      .style-source
      .output
        a(href="").btn download
